/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  width: 800px;
  margin-left: 100px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.bubble {
  margin: auto;
  background-color: #ccffff;
  border-color: #5f5f5f;
  border-radius: 25px;
  width: 33%;
}
