body {
  float: center;
  width: 800px;
  margin-left: 100px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.bubble {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #ccffff;
  width: 35px;
  height: 15%;
  border: 2px;
  padding: 2%;

  border-color: #000000;
  border-radius: 25px;
  border-width: 2px;
}
