body {
  float: center;
  width: 800px;
  margin-left: 100px;
  margin-bottom: 20px;
  font-size: 1.5em;
  overflow: hidden;
}

.bubble {
  position: fixed;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #ccffff;
  width: 45px;
  height: 30px;
  border: 2px;
  padding: 2%;

  border-color: #000000;
  border-radius: 25px;
  border-width: 2px;
}

#mooncake {
  max-width: 100%;
  max-height: 100%;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
}
